<!DOCTYPE html>
<html lang="en">
<head>
  <!--DNS预解析-->
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <meta charset="UTF-8" />
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes" />
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true" />
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application" />
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="applicable-device" content="mobile">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta content="telephone=no" name="format-detection" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <title>VGG</title>
  {{{vconsole}}}
  <script>
    window.__SITE_ROOT__ = '{{siteRoot}}';
  </script>
</head>
<body>
  <!--vue-ssr-outlet-->
</body>
</html>
